
<br/>
<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="assets/logo1.png"
           class="img-fluid" alt="Sample image">
    </div>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()" validate>


        <!-- Email input -->
        <div class="form-outline mb-4">
          <input [formControlName]="'username'"  type="text" id="form1Example1" class="form-control form-control-lg"
                 placeholder="Enter usernam" />
          <label class="form-label" for="form1Example1">UserName</label>
        </div>
        <div class="form-outline mb-4">
          <input [formControlName]="'email'"  type="email" id="form2Example2" class="form-control form-control-lg"
                 placeholder="Enter a valid email address" />
          <label class="form-label" for="form2Example2">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input   [formControlName]="'password'"  type="password" id="form3Example3" class="form-control form-control-lg"
                   placeholder="Enter password" />
          <label class="form-label" for="form3Example3">Password</label>
        </div>

        <div class="form-outline mb-3">
          <input   [formControlName]="'confirmPassword'"  type="password" id="form4Example4" class="form-control form-control-lg"
                   placeholder="Enter password" />
          <label class="form-label" for="form4Example4">Confirm Password</label>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
          <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account ? <a href="/login"
                                                                            class="link-danger">login</a></p>
        </div>

      </form>
    </div>
  </div>
</div>

